:root {
  --content-width: 100vw;
  --content-width--: calc(var(--content-width) * -1);
}

@media (min-width: 1920px) {
  :root {
    --content-width: 1920px;
  }
}

.prose *:first-child,
.prose-base *:first-child,
.prose-lg *:first-child,
.prose-xl *:first-child {
  margin-top: 0 !important;
}

.prose *:last-child,
.prose-base *:last-child,
.prose-lg *:last-child,
.prose-xl *:last-child {
  margin-bottom: 0 !important;
}

.prose-xl {
  letter-spacing: -0.03em !important; 
}

.app-slider .splide__track {
  overflow: visible;
}