---
import Layout from '../layouts/Layout.astro'
import {
  FullWidthText,
  Hero,
  Image,
  PreviousWinners,
  TwoColumnText,
} from '../sections'

const query = `
	query {
		homepage {
			page_builder {
				item {
					... on hero {
						__typename
						title,
						content,
						background_image,
						button_type: button_types,
						buttons {
							buttons_id {
								url,
								text: Text,
								colour
							}
						}
					},
					... on two_column_text {
						__typename,
						title,
						icon,
						left_column_text,
						right_column_text,
						button_type,
						buttons {
							buttons_id {
								url,
								text: Text,
								colour
							}
						}
					},
					... on image {
						__typename,
						width,
						image
					},
					... on full_width_text {
						__typename,
						title,
						icon,
						text,
						button_type,
						buttons {
							buttons_id {
								url,
								text: Text,
								colour
							}
						}
					},
					... on previous_winners {
						__typename,
						title,
						icon,
						text,
					}
				}
			}
		}
	}
`

let sections = []

try {
	const response = await fetch('http://127.0.0.1:8055/graphql', {
	method:'POST',
	headers: {
		'Content-Type': 'application/json',
		'Accept': 'application/json'
	},
	body: JSON.stringify({
		query: query
	}),
})

const json = await response.json()

sections = json?.data?.homepage?.page_builder ?? []
} catch(e) {
	console.error(e)
}

---
<Layout title="Welcome to Astro.">
	<main>
		{sections.map(section => {
			switch(section.item.__typename) {
				case 'full_width_text':
					return <FullWidthText />
				case 'hero':
					return <Hero />
				case 'image':
					return <Image />
				case 'previous_winners':
					return <PreviousWinners />
				case 'two_column_text':
					return <TwoColumnText />
			}
		})}
	</main>
</Layout>
