<div class="space-x-6">
  <a href="#">
    <img src="download-app-store.svg" alt="Download on the App Store" class="h-12 w-auto">
  </a>
  <a href="#">
    <img src="download-play-store.svg" alt="Get in on Google Play" class="h-12 w-auto">
  </a>
</div>