---
import Button from '../components/Button.astro'

const { buttons } = Astro.props

const buttonArr = buttons.map(button => {
  return button.buttons_id
})
---

<div class="flex space-x-6">
  {buttonArr.map(button => (
    <Button colour={button.colour} href={button.url}>
      { button.text }  
    </Button>
  ))}
</div>