---
import Container from '../components/Container.astro'
import Button from '../components/Button.astro'
import useApi from '../modules/api'

const { useImage } = useApi()

const { title, icons } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full text-base">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
</head>
<body class="min-h-full bg-black relative text-body flex flex-col">
  <header class="absolute w-100 top-0 right-0 left-0 py-6">
    <Container>
      <div class="flex justify-start gap-8">
        <div class="mr-auto">
          <img src="/logo.png" alt="LitterLotto Logo">
        </div>
        <div>
          <Button href="#" colour="dark">
            Download Apps
          </Button>
        </div>
        <div>
          <Button href="#" colour="light">
            FAQs
          </Button>
        </div>
      </div>
    </Container>
  </header>
  <main class="flex-1">
    <slot />
  </main>
  <footer class="flex-shrink-1 flex-grow-0 text-center">
    <div class="bg-primary-light pt-6 pb-20">
      <Container>
        <h2 class="text-header-medium mb-6">
          Social Media Accounts
        </h2>
        <div class="flex items-center justify-center space-x-6">
          {icons.map((icon) => (
            <a href={icon.url}>
              <img src={useImage(icon.icon)} alt={icon.name}>  
            </a>
          ))}
        </div>
      </Container>
    </div>
    <div class="bg-primary-dark py-10">
      <Container>
        <div class="flex items-center justify-center">
          <img src="/logo.png" alt="LitterLotto Logo">
        </div>
      </Container>
    </div>
  </footer>
</body>
</html>

